RewriteEngine On

# ! Aturan untuk mengarahkan permintaan ke '/api/...'
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.*)$ route/Api.php [L]

# ! Batasi akses langsung ke '/config' dan tampilkan pesan Forbidden
RewriteCond %{THE_REQUEST} /config [NC]
RewriteRule .* - [F,L]

# ! Batasi akses langsung ke '/api' dan tampilkan pesan Forbidden
# RewriteCond %{REQUEST_URI} ^/api [NC] # ? ini
# RewriteRule .* - [F,L] # ? ini
RewriteRule ^api$ - [F] # * hapus kode pada baris ini, jika menggunakan kode (dua baris diatas)

# ! Batasi akses langsung ke '/route' dan tampilkan pesan Forbidden
RewriteCond %{THE_REQUEST} /route [NC]
RewriteRule .* - [F,L]